homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 1045
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Edmonton
  # Customization file
  customize: !include customize.yaml

# Enables the frontend
frontend:

# Enables configuration UI
config:

map:

http:
  # Uncomment this to add a password (recommended!)
  api_password: !secret password
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:
  exclude:
    entities:
      - sensor.time
      - sensor.hour
      - sensor.moon
      - sensor.ring_front_door_last_activity
      - sensor.ring_front_door_last_ding
      - sensor.ring_front_door_last_motion
      - sensor.season
      - sensor.dark_sky_daily_summary
      - sensor.dark_sky_hourly_summary
      - sensor.dark_sky_icon
      - sensor.dark_sky_summary
      - group.shades_elevation
    domains:
      - switch
      - automation
      - updater
  include:
    domains:
      - group
      - sensor
      - media_player
    entities:
      - switch.recirc_pump

# View all events in a logbook
logbook:

# Track the sun
sun:

python_script:

sensor: !include sensors.yaml

tts:
  - platform: google
    cache: true
  - platform: yandextts
    voice: oksana
    emotion: good
    api_key: !secret yandex_key

group: !include groups.yaml
automation: !include_dir_merge_list automations/
script: !include_dir_named scripts/

device_tracker:

  - platform: netgear
    host: !secret netgear_host
    username: !secret netgear_user
    password: !secret netgear_pass

  - platform: nmap_tracker
    hosts:
      - !secret yulia_ip
      - !secret egor_ip

zone:
  - name: Home
    latitude: !secret home_latitude
    longitude: !secret home_longitude
    radius: 100
    icon: mdi:home
  - name: Work
    latitude: !secret work_latitude
    longitude: !secret work_longitude
    icon: mdi:worker
  - name: Parents
    latitude: !secret parents_latitude
    longitude: !secret parents_longitude
  - name: Cooper
    latitude: !secret cooper_latitude
    longitude: !secret cooper_longitude
  - name: Moroz
    latitude: !secret moroz_latitude
    longitude: !secret moroz_longitude

envisalink:
  host: !secret envisalink_host
  panel_type: DSC
  user_name: !secret envisalink_user
  password: !secret envisalink_pass
  code: !secret envisalink_code
  port: 4025
  evl_version: 4
  panic_type: Police
  zones:
    1:
      name: 'Foyer MD'
      type: 'motion'
    2:
      name: 'Dining Room MD'
      type: 'motion'
    3:
      name: 'Great Room MD'
      type: 'motion'
    4:
      name: 'Media Room MD 1'
      type: 'motion'
    5:
      name: 'Media Room MD 2'
      type: 'motion'
    6:
      name: 'Mudroom MD'
      type: 'motion'
    7:
      name: 'Mech Room MD'
      type: 'motion'
  partitions:
    1:
      name: 'Home Alarm'

ring:
  username: !secret ring_user
  password: !secret ring_pass

binary_sensor: !include binary_sensors.yaml

ecobee:
  api_key: !secret ecobee_api_key

camera:
  - platform: generic
    still_image_url: http://xeoma.local/front.jpg
    name: Front
  - platform: generic
    still_image_url: http://xeoma.local/back.jpg
    name: Back
  - platform: generic
    still_image_url: http://trafficcam.calgary.ca/loc15.jpg
    name: Glenmore/Crowchild SW

cover:
  - platform: myq
    username: !secret myq_user
    password: !secret myq_pass
    type: liftmaster

media_player:
  - platform: plex
    entity_namespace: plex
    show_all_controls: True

  - platform: monoprice
    port: /dev/ttyUSB0
    name: Monoprice
    zones:
      11:
        name: Loft
      12:
        name: Master Bedroom
      13:
        name: Ensuite
      14:
        name: Living Room
      15:
        name: Kitchen/Dining Room
      16:
        name: Art Room
    sources:
      5:
        name: Chromecast Egor

logger:
 default: info

input_select:
  # Current automation mode
  # Normal - normal day to day life, work etc.
  # On Vacation - nobody is at home for a long period of time
  # Have guests - we have guests staying over
  system_mode:
    name: House Mode
    options:
      - Normal
      - On vacation
      - Have guests
    initial: Normal

telegram_bot:
  - platform: polling
    api_key: !secret telegram_api_key
    allowed_chat_ids:
      - !secret telegram_chat_id

notify:
   - name: telegram_egor
     platform: telegram
     chat_id: !secret telegram_chat_id
   - name: ecobee
     platform: ecobee

isy994:
  host: !secret isy_host
  username: !secret isy_user
  password: !secret isy_pass

scene:
  platform: hunterdouglas_powerview
  address: !secret powerview_address

alert:
  garage_door:
    name: Garage door is open
    done_message: Garage door is closed
    entity_id: cover.garage_door
    state: 'open'
    repeat: 5
    can_acknowledge: True
    skip_first: True
    notifiers:
      - telegram_egor
      - ecobee

input_datetime:
  night_starts:
    name: Night Mode Start
    has_date: false
    has_time: true
    initial: '1970-01-01 21:00'
  night_ends:
    name: Night Mode Ends
    has_date: false
    has_time: true
    initial: '1970-01-01 08:00'

input_number:
  close_shades_elevation:
    name: Closing shades Sun elevation
    initial: -0.5
    min: -10
    max: 10
    step: 0.1
    mode: box
  open_shades_elevation:
    name: Opening shades Sun elevation
    initial: 2.5
    min: -10
    max: 10
    step: 0.1
    mode: box
